body {
}

div.navbar#blogmudgeon-navbar {
    border-radius: 0;
    background-image: linear-gradient(-10deg, rgb(200,240,230) 0%, rgb(240,245,255) 100%);
    /* TODO: bottom shadow? */
}

footer.footer {
    background-image: linear-gradient(-10deg, rgb(150,170,180) 0%, rgb(190,195,205) 100%);
    /* TODO: top inset shadow! */
    /* FIXME?: can i push this all the way to the bottom?  or at least extend it? */
}
footer.footer p.credit {
    color: white;
}

ul.recent-posts {
    list-style: none;
}
ul.recent-posts li {
    position: relative;
    left: -2em;
}

table.minical td {
    padding: 2px;
    text-align: right;
    width: 2em;
}
table.minical th {
    padding: 2px;
    text-align: center;
    width: 2em;
}

div.sidebar {
    border-left: 1px solid lightgray;
    padding-left: 20px;
}
